/*
 *Name: [First Last]
 *UnityID: [unityID]
 *Date: [Date Completed]
 *Assignment: [Assignment Name]
 *Description: [Assignment Description]
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #DECAFF;
}

.table-border {
    border: 1px solid #DECAFF;
}

#photo-resize {
    max-width: 200px;
    max-height: 800px;
}
